<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

  <!-- NOTE: use gradle to publish kotlin-html-dsl -->

  <servers>
    <!-- maven central -->
    <server>
      <id>ossrh</id>
      <username>daggerok</username>
      <password>**********</password>
    </server>
    <!-- bintray -->
    <server>
      <id>bintray-daggerok-daggerok</id>
      <username>daggerok</username>
      <password>**********</password>
    </server>
  </servers>

  <!-- pom.xml: -->
  <!--
  <distributionManagement>
    <repository>
      <id>bintray-daggerok</id>
      <name>daggerok-daggerok</name>
      <url>https://api.bintray.com/maven/daggerok/daggerok/daggerok-context/;publish=1</url>
    </repository>
  </distributionManagement>
  -->

  <profiles>
    <!-- maven central -->
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg2</gpg.executable> <!-- brew install gnupg@2.0 -->
        <gpg.passphrase>**********</gpg.passphrase>
      </properties>
    </profile>
    <!-- bintray -->
    <profile>
      <id>bintray</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>bintray-daggerok-daggerok</id>
          <name>bintray</name>
          <url>https://dl.bintray.com/daggerok/daggerok</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>bintray-daggerok-daggerok</id>
          <name>bintray-plugins</name>
          <url>https://dl.bintray.com/daggerok/daggerok</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>bintray</activeProfile>
  </activeProfiles>
</settings>
